<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.echo.XT2005.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <com.echo.XT2005.Properties.Settings>
            <setting name="MAIN_TITLE" serializeAs="String">
                <value>系统2005辅助工具</value>
            </setting>
            <setting name="strExit" serializeAs="String">
                <value>退出(&amp;X)</value>
            </setting>
            <setting name="strSystem" serializeAs="String">
                <value>系统(&amp;S)</value>
            </setting>
            <setting name="strLinkDB" serializeAs="String">
                <value>连接到数据库(&amp;L)</value>
            </setting>
            <setting name="strOrgTree" serializeAs="String">
                <value>组织树</value>
            </setting>
            <setting name="strCalc" serializeAs="String">
                <value>计算</value>
            </setting>
            <setting name="strReportCheck" serializeAs="String">
                <value>报表校核</value>
            </setting>
            <setting name="strCheckRule" serializeAs="String">
                <value>校核公式</value>
            </setting>
        </com.echo.XT2005.Properties.Settings>
    </applicationSettings>
</configuration>